.book { border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; }
.book h3 { margin: 0 0 5px; }
.genre-link { margin-right: 5px; }

select#rating-filter {
    /* height: 50%; */
    width: 100%;
    margin: 10px 0;
}
